* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkcyan;
}

h1 {
  text-align: center;
  color: brown;
  text-shadow: 3px 3px black;
  font-size: 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  display: block;
  text-align: center;
}

button {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 5px;
  box-shadow: 2px 2px black;
  border-radius: 10px;
}
button:hover {
  background-color: grey;
}

  button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

main p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

#ballContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.ball {
  margin-left: 20px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 3px 3px black;
}

.ball:hover {
  border: 4px solid black;
}

#scoreList {
  text-align: center;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 60px;
}

footer {
  margin-top: 380px;
  text-align: center;
  color: aliceblue;
  background-color: black;
}

a {
  color: brown;
  text-decoration: none;
}

a:hover {
  background-color: rgba(0, 255, 255, 0.284);
}